<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
	<script src="http://code.jquery.com/jquery-latest.js"></script> 
	<script>
		//Document Ready
	   	$(document).ready(function(){ 
			// id 엔터 pw 포커스 이동
			$("#memberId").on("keyup", function(e) {
			   if (e.key == "Enter"){
				 $('#memberPw').focus();
			   };
			});
			// pw 엔터 로그인처리
	   		$("#memberPw").on("keyup", function(e) {
				if (e.key == "Enter") fnSubmit();
			});
	   	});
	   	
		//로그인처리
		function fnSubmit() {
			let id = $("#memberId").val();
			if(id == '' || id == undefined){
				alert("ID를 입력해주세요.");
				return;
			}
			let pw = $("#memberPw").val();
			if(pw == '' || pw == undefined){
				alert("PW를 입력해주세요.");
				return;
			}
			frm.submit();
		}
	
		//가입 팝업 띄우기
		function fnJoinPopup() {
		    $("#joinPopup").css("display","block");
		}
		
		//가입 팝업 닫기
		function fnClosePopup() {
		    $("#joinPopup").css("display","none");
		}
		
		//맴버가입 처리 
		function fnSignUp(){
			joinFrm.submit();
			fnClosePopup();
		}
	</script>
</head>

<style>
	#joinPopup {
		width: 400px;
		height: 700px;
		border: 1px solid;
		display: none;
	}
	
	.phoneNum1 {
		width: 20px;	
	}
	.phoneNum2 {
		width: 30px;	
	}
</style>

<body>
    <h1>로그인</h1>
    <a href="javascript:fn_main();">home1</a>
    <form id="frm" name="frm" action="/loginProc.do" method="post">
		<div>
			<input class="" id="memberId" name="memberId" type="text" placeholder="mail@naver.com" required />
		</div>
		<div>
			<input class="" id="memberPw" name="memberPw" type="password" placeholder="Password" required />
		</div>
		<div>
			<a href="javascript:fnSubmit();">로그인</a>
			<a href='javascript:void(0);' onclick="fnJoinPopup();">회원가입</a>
		</div>
	</form>
	
	<!-- 맴버 가입 팝업 -->
	<div id="joinPopup">
	<form id="joinFrm" name="joinFrm" action="/user/insertMember.do" method="post">
		<div>
			<input type="text" id="joinId" name="joinId" placeholder="Email" required />
			<a href="#" onclick="">중복확인</a></br>
			<input type="text" id="joinPw" class="" placeholder="비밀번호" required /></br>
			<input type="text" id="joinPwRe" class="" placeholder="비밀번호 확인" required /></br>
			<input type="text" id="nickNm" class="" placeholder="닉네임" required /></br>
			<input type="text" id="brthday" class="" placeholder="생년월일" required /></br>
			<input type="radio" name="sex" class="" value="F"><label for="sex">남성</label>
			<input type="radio" name="sex" class="" value="M"><label for="sex">여성</label></br>
			<input type="text" id="phoneNum1" class="phoneNum1" placeholder="010" value="010" required /></br>
			<input type="text" id="phoneNum2" class="phoneNum2" required /></br>
			<input type="text" id="phoneNum3" class="phoneNum2" required /></br>
			<select id="actionAreaLv1" name="actionAreaLv1">
				<option value="선택">전체</option>
				<option value="서울">서울</option>
				<option value="인천">인천</option>
				<option value="경기">경기</option>
			</select></br>
			<select id="actionAreaLv2" name="actionAreaLv2">
				<option value="선택">전체</option>
			</select></br>
		</div>
		<a href="javascript:fnSignUp();">가입</a>
		<a href="javascript:fnClosePopup();">닫기</a>
  	</div>
  	</form>
</body>
</html>