<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.club.business.board.BoardMapper">
	<!-- 게시판 목록 조회 -->
	<select id="selectBoardList" parameterType="com.club.business.board.BoardVO" resultMap="com.club.sys.cmmn.CamelMap">
		/* selectBoardList */
		select board_no
			 , club_no
			 , title
			 , contents
			 , file_id
			 , board_gbn
			 , frst_reg_no
			 , frst_reg_dt
			 , last_upd_no
			 , last_upd_dt
		  from club.board a
		 where club_no = #{srchKey}
		   and board_gbn = #{srchType}
		 order by board_no desc
	</select>
	
	<!-- 게시판 목록 카운트 -->
	<select id="selectBoardListCnt" parameterType="com.club.business.board.BoardVO" resultMap="int">
		/* selectBoardListCnt */
		select count(*)
		  from club.board
		 where club_no = #{srchKey}
		   and board_gbn = #{srchType}
	</select>
	
	<!-- 게시판 상세 -->
	<select id="selectBoardInfo" parameterType="int" resultMap="com.club.business.board.BoardVO">
		/* selectBoardInfo */
		select board_no
			 , club_no
			 , title
			 , contents
			 , file_id
			 , board_gbn
			 , frst_reg_no
			 , frst_reg_dt
			 , last_upd_no
			 , last_upd_dt
			 , (select count(*) 
			 	  from club.board_reply b 
			     where a.board_no = b.board_no) as reply_cnt
		  from club.board
		 where del_yn = 'N'
		   and club_no = #{srchKey}
		   and board_gbn = #{srchType}
		   
	</select>
	
	<!-- 게시물 등록 -->
    <insert id="insertBoard" parameterType="com.club.business.board.BoardVO">
    	/* insertBoard */
    	insert into club.board (
    		   club_no
			 , title
			 , contents
			 , file_id
			 , board_gbn
			 , frst_reg_no
			 , frst_reg_dt
    	)values(
    		   #{clubNo}
			 , #{title}
			 , #{contents}
			 , #{fileId}
			 , #{boardGbn}
			 , #{userNo}
			 , now()
    	)
	</insert>
	
	<!-- 게시물 수정 -->
    <update id="updateBoard" parameterType="com.club.business.board.BoardVO">
    	/* updateBoard */
    	update club.board
    	   set club_no		= #{clubNo}
			 , title		= #{title}
			 , contents		= #{contents}
			 , file_id		= #{fileId}
			 , board_gbn	= #{boardGbn}
			 , last_upd_no	= #{userNo}
			 , last_upd_dt	= now()
		 where board_no		= #{boardNo}
	</update>
	
	<!-- 게시물 삭제 -->
	<update id="deleteBoardDelYn" parameterType="com.club.business.board.BoardVO">
    	/* deleteBoardDelYn */
    	update club.board
    	   set del_yn = 'Y'
		 where board_no	= #{boardNo}
	</update>
    <delete id="deleteBoard" parameterType="com.club.business.board.BoardVO">
    	/* deleteBoard */
    	delete from club.board
    	 where board_no = #{boardNo}
	</delete>
	
	<!-- 댓글 목록 조회 -->
	<select id="selectBoardReplyList" parameterType="int" resultMap="com.club.sys.cmmn.CamelMap">
		/* selectBoardReplyList */
	</select>
	
	<!-- 댓글 등록 -->
    <insert id="insertBoardReply"  parameterType="com.club.business.board.BoardVO">
    	/* insertBoardReply */
    	insert into club.board_reply (
			   board_no
			 , reply_upper_no
			 , reply_lv
			 , reply_cn
			 , frst_reg_no
			 , frst_reg_dt
		) values (
			   #{boardNo}
			 , #{replyUpperNo}
			 , #{replyLv}
			 , #{replyCn}
			 , #{userNo}
			 , now()
		)
	</insert>
	
	<!-- 댓글 수정 -->
    <update id="updateBoardReply"  parameterType="com.club.business.board.BoardVO">
    	/* updateBoardReply */
    	update club.board_reply
    	   set reply_cn = #{replyCn}
    	     , last_upd_no = #{userNo}
	 		 , last_upd_dt = now()
    	 where reply_no = #{replyNo}
	</update>
	
	<!-- 댓글 수정 -->
	<update id="deleteBoardReplyDelYn" parameterType="com.club.business.board.BoardVO">
    	/* deleteBoardReplyDelYn */
    	update club.board_reply
    	   set del_yn = 'Y'
		 where reply_no	= #{replyNo}
	</update>
    <delete id="deleteBoardReply" parameterType="com.club.business.board.BoardVO">
    	/* deleteBoardReply */
    	delete from club.board_reply
    	 where reply_no	= #{replyNo}
	</delete>
</mapper>