<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.club.business.cmmn.log.LogMapper">
      
	<!-- 로그인 맴버 정보 -->
	<insert id="insertLoginLog" parameterType="com.club.sys.cmmn.CamelMap">
		/* insertLoginLog */ 
		insert into sys_login_log(
  			  login_gbn
  			, login_ip
			, login_member_id
		  	, err_msg
		  	, fail_cnt
		  	, reg_id
		  	, reg_dt
		)values(
			  #{loginGbn}
  			, #{ip}
			, #{userNo}
		  	, #{msg}
		  	, #{failCnt}
		  	, #{userNo}
		  	, now()
		)
	</insert>
</mapper>